body{
    background-image:url(image/background.jpg);
    background-attachment:fixed;
}

header{
    text-align: center;
    background-color: white;
    height: 30px;
    line-height:30px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;   
    background-color: #E9EFF3;
    color: #06AEDD;
    font-family: "Trebuchet MS", Helvetica, sans-serif;   font-size: 25px; 
}

#interface {
    background-color: #9ACCEC;
    border-radius: 10px;
}

.ombre{    
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset; 
}

#contact{
    background-color: white;    
    overflow-y: scroll;
    overflow-x: auto;
    height: 350px;
    width: 130px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

#contact h1{
    text-align: center;
    background-color: #9ACCEC;
    border-radius: 10px;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    font-family: "Trebuchet MS", Helvetica, sans-serif;   font-size: 25px;
    color: white;
    margin: 5px;
}

#tchat{
    width:950px;
    margin : auto auto;
}

#label{
    display: block;
    margin: auto auto ;
    text-align: center;
    color: white;
    font-family: cursive;   font-size: 20px;
}

#affichage{
    float: left;
    width: 950px;
    height: 360px;
    margin-right: 10px;
    border: 2px black solid white;   border-radius: 10px;
    overflow-y: scroll;
    overflow-x: auto;
    background-color: #E9EFF3;
}

#affichage p{
    margin-left: 20px;
}

#affichage p span{
    color:blue;
}

#affichage p span:last-child{
    float: right;
}

#user {    
    background-color: #E9EFF3;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
}

#message{
    float: left;
    width:800px;
    height:140px;
    resize: none;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}

input[type="button"]{
    background-color: #307CAE;
    color: white;
    border-radius: 10px;
    height: 154px;
    width: 110px;
    padding: 5px;
    margin: 5px;
    font-family: arial;   font-size: 18px;
}

#button:hover{
    background-color: #304858;
    color: #74C0F2;
}

#button:active{    
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.form{
    width: 250px;
    height:250px;
    border-radius: 10px;
    margin :auto auto;
    text-align: center;
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    background-color: #E9EFF3;
}

#login{
    margin-top:25%;
    margin-left: 24px;
}

#loginF #pass{
    margin-top:25px;
    margin-bottom: 25px;
}

#loginI{
    margin-top:25%;
}

#passI{
    margin-top:25px;
    margin-bottom: 25px;
}

#mail{
    margin-bottom: 25px;
}

#nom {
    margin-top:15%;   
    margin-bottom: 5px;
    margin-left: 27px;
}
#prenom {
    margin-top:5px;
    margin-bottom: 5px;  
    margin-left: 10px;
}
#motpasse {
    margin-top:5px;
    margin-bottom: 5px;
}
#verifpasse {
    margin-top:5px;
    margin-bottom: 5px;
}
.floatright {
    float: right;
}

#deconn{
    margin-top: 5px;
    background-color: #307CAE;
    color: white;
    text-decoration: none;
    border: 1px solid; border-radius: 10px;
    padding: 2px;
    margin: 5px;
    font-family: arial;   font-size: 15px;
}

#deconn:hover{
    background-color: #304858;
    color: #74C0F2;
}

#deconn:active{    
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

.bouton{
    background-color: #307CAE;
    color: white;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    font-family: arial;   font-size: 15px;
}

.bouton:hover{
    background-color: #304858;
    color: #74C0F2;
}

.bouton:active{    
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}